* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #5a596a;
  --blue: #008adb;
  --dark-blue: #0a6faa;
  --light-grey: #f7f8fa;
  --grey: #d4d4d4;
  --dark-grey: #1e1e27;
  --green: #01bf71;
}

body {
  color: var(--text-color);
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 42px;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
